@{
    ViewData["Title"] = "Cadastro";
}
@model Cadastro
<h3>Cadastro</h3>

@{
    var ufItems = new List<SelectListItem>
    {
        new SelectListItem { Value = "AC", Text="Acre" },
        new SelectListItem { Value = "AL", Text="Alagoas" },
        new SelectListItem { Value = "AP", Text="Amapá" },
        new SelectListItem { Value = "AM", Text="Amazonas" },
        new SelectListItem { Value = "BA", Text="Bahia" },
        new SelectListItem { Value = "CE", Text="Ceará" },
        new SelectListItem { Value = "DF", Text="Distrito Federal" },
        new SelectListItem { Value = "ES", Text="Espírito Santo" },
        new SelectListItem { Value = "GO", Text="Goiás" },
        new SelectListItem { Value = "MA", Text="Maranhão" },
        new SelectListItem { Value = "MT", Text="Mato Grosso" },
        new SelectListItem { Value = "MS", Text="Mato Grosso do Sul" },
        new SelectListItem { Value = "MG", Text="Minas Gerais" },
        new SelectListItem { Value = "PA", Text="Pará" },
        new SelectListItem { Value = "PB", Text="Paraíba" },
        new SelectListItem { Value = "PR", Text="Paraná" },
        new SelectListItem { Value = "PE", Text="Pernambuco" },
        new SelectListItem { Value = "PI", Text="Piauí" },
        new SelectListItem { Value = "RJ", Text="Rio de Janeiro" },
        new SelectListItem { Value = "RN", Text="Rio Grande do Norte" },
        new SelectListItem { Value = "RS", Text="Rio Grande do Sul" },
        new SelectListItem { Value = "RO", Text="Rondônia" },
        new SelectListItem { Value = "RR", Text="Roraima" },
        new SelectListItem { Value = "SC", Text="Santa Catarina" },
        new SelectListItem { Value = "SP", Text="São Paulo" },
        new SelectListItem { Value = "SE", Text="Sergipe" },
        new SelectListItem { Value = "TO", Text="Tocantins" }
    };
}

<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" method="post" asp-action="resumo">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeCliente">Nome do Cliente</label>
                    <input type="text" class="form-control" id="nomeCliente" placeholder="Nome do Cliente"
                           asp-for="@Model.Nome">
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"
                           asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone"
                           asp-for="@Model.Telefone">
                    <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Endereço"
                           asp-for="@Model.Endereco">
                    <span asp-validation-for="@Model.Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Complemento"
                           asp-for="@Model.Complemento">
                    <span asp-validation-for="@Model.Complemento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="Bairro"
                           asp-for="@Model.Bairro">
                    <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="municipio">Município</label>
                    <input type="text" class="form-control" id="municipio" placeholder="Município"
                           asp-for="@Model.Municipio">
                    <span asp-validation-for="@Model.Municipio" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label class="control-label" for="UF">UF</label>
                    <select class="form-control single-select" name="UF" asp-for="@Model.UF" asp-items="@ufItems">
                        <option selected value="">[Selecione o estado]</option>
                    </select>
                    <span asp-validation-for="@Model.UF" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" placeholder="CEP"
                           asp-for="@Model.CEP">
                    <span asp-validation-for="@Model.CEP" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <a asp-action="carrinho"
                       class="btn btn-success">
                        Continuar Comprando
                    </a>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-success">
                        Finalizar Pedido
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


